.widgetLg {
    flex: 2;
    box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.widgetLgTitle {
    font-size: 22px;
    font-weight: 600;
}

.widgetLgImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetLgButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.widgetLgButton.Approved {
    background-color: #5cc29b;
}

.widgetLgButton.Declined {
    background-color: #e43838;
}

.widgetLgButton.Pending {
    background-color: #f5e72b;
}